filters.FiltroCalcError:Calculo de Error
filters.FiltroCortarMapaVelocidades:Cortar mapa de Velocidades
filters.FiltroVelocidadX:Perfil de Velocidad en X
filters.FiltroVelocidadY:Perfil de Velocidad en Y
filters.FiltroVelocidad:Calculo de Velocidades
filters.FiltroDesplazamientoPromedio:Desplazamiento Promedio